extends ../../template

block additionalScripts
    script(src='/js/topic.js')

block content
    div(class='categories-main')
        div(class='chat-header')
            p(class='category-header__name') #{categoryName}
            if(admin)
                a(class='category-header__settings-link' href='/categories/' + categoryId + '/settings')
                    img(class='chat-header__settings-icon' src='/images/gear-wide-connected.svg' alt='Настройки')
        div(class="category-navigation-container")
            if page === 1
                a(href="#" class="category-navigation-container__navigation-button--disabled") ←
            else
                a(href='/categories/' + categoryId + '?page=' + (page - 1) class="category-navigation-container__navigation-button") ←
            if page === pageCount
                a(href="#" class="category-navigation-container__navigation-button--disabled") →
            else
                a(href='/categories/' + categoryId + '?page=' + (page + 1) class="category-navigation-container__navigation-button") →
            p(class="category-navigation-container__page-count") Страница #{page} из #{pageCount}
            if(edit)
                button(class="category-navigation-container__create-chat-button" onclick='showCreateTopic();') Создать топик
        if(edit)
            form(class='create-category-form' id='create-topic' style='display: none;' onsubmit='handleCreateTopic(' + categoryId + ');')
                div(class='create-category-from__input-group')
                    label(class='create-category-from__label' for='name') Название
                    input(class='create-category-from__input' id='name' type='text' required=true minlength=2 maxlength=32)
                div(class='create-category-from__input-group')
                    label(class='create-chat-from__label' for='description') Описание
                    textarea(class='create-category-from__input--textarea' id='description' maxlength=300)
                input(class='create-category-from__submit-button' type='submit' value='Создать')
        div(class="topics-container")
            if (!empty)
                each topic in topics
                    div(class="category-card")
                        div
                            a(href='/topics/' + topic.id +'?page=1' class="category-card__header" )= topic.name
                            p(class="category-card__description")= topic.description
            else
                p(class='empty-list') Нет доступных топиков